body{
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/ /* Comentado en caso de usar la imagen de fondo */
    background-image: url('backgrounds/Fondo1.png'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del navegador */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo para que no se mueva al hacer scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenido ocupe todo el alto de la ventana */
    margin: 0; /* Elimina los márgenes del cuerpo */  
} 

.container{
background-color: rgba(255, 255, 255, 0.418);
padding: 20px;
border-radius: 2px;
box-shadow: 0 20px 100px rgb(0, 0, 0);
width: 22%;
height: 60%;
transform: translateY(-25%); /* Mueve el elemento hacia arriba */
text-align: center;
position: relative; /* O absolute si lo necesitas */
}